@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ヘッダー */

.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6.53% 0 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.logo{
    width: 227px;
}

.pc_nav ul{
    display: flex;
}

.pc_nav ul li{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 105px;
    margin-right: 53px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    text-align: center;
}

.pc_nav ul li:last-child{
    margin-right: 0;
}

.slider img{
    width: 100%;
}

/* メイン */
body{
    background-color: #e8d9bf;
}

.title{
    margin: 107px 0;
    text-align: center;
    display: block;
    font-family: YuMincho,serif;
    font-weight: normal;
}

.english{
    font-size: 30px;
    line-height: 3.8;
    margin-bottom: 63px;
    font-weight: normal;
}

.japanese{
    font-size: 82px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    margin-bottom: 51px;
}

.massage{
    font-size: 23px;
    line-height: 1.6;
    letter-spacing: 0.1em;
}

/* ABOUT US */
.about_us{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 108px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 10px;
}

picture{
    width: 50%;
}

.about_us_content{
    width: 42%;
}

.about_us_images{
    
    border-radius: 0 0 60px 0;
    margin-right: 79px;
}

.title_pc{
    width: 272px;
    height: 77px;
    margin-bottom: 58px;
}

.title_sp{
    display: none;
}

.about_us_maintext{
    font-size: 44px;
    line-height: 1.4;
    margin-bottom: 37px;
}

.about_us_subtext{
    font-size: 16px;
    line-height: 1.625;
}

/* メニュー */
.menu_wrap{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 101px;
    padding: 0 10px;
}

.menu_pc{
    width: 151px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.menu_content_wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.menu_content{
    max-width: 30%;
}

.menu_content img{
    border-radius: 0 60px 0 0;
}

.menu_items h3{
    font-size: 38px;
    line-height: 0.58;
    color: #d30202;
    margin-top: -6px;
    margin-bottom: 24px;
    font-weight: normal;
}

.menu_items p{
    font-size: 17px;
    line-height: 1.47;
}


/* ギャラリー */
.gallery_wrap{
    margin-bottom: 71px;
}

.gallery_pc{
    width: 245px;
    margin: 0 auto;
    margin-bottom: 26px;
}

.gallery_wrap ul{
    display: flex;
    margin: 0;
    padding: 0;
}

/* イベント */
.event_wrap{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 0 10px;
}

.event_pc{
    width: 174px;
    margin: 0 auto;
    margin-bottom: 39px;
}

.event_content{
    border: 3.7px solid #4f260b;
    background-color: #fff;
    padding: 45px 0 ;
    display: flex;
    justify-content: center;
}

.event_content ul{
    font-size: 23px;
    line-height: 1.95;
    text-align: center;
}

.event_content li{
    display: flex;
    justify-content: start;
    margin-bottom: 23px;
}

.event_content li:last-child{
    margin-bottom: 0;
}

.date{
    padding: 0 56px;
}

.text{
    text-decoration: underline;
}

/* アクセス */
.access_pc{
    width: 213px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.access_wrap iframe{
    width: 100%;
    height: 471px;
    vertical-align: bottom;
}

/* フッター */

footer{
    background-color: #fff;
    padding: 80px 0;
}

.footer_wrap div{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 0 10px;
}

.footer_wrap img{
    width: 226px;
    margin-right: 68px;
}

.footer_wrap ul{
    font-size: 20px;
    line-height: 1.95;
    text-align: left;
    color: #000;
}

.footer_wrap li{
    margin-bottom: 23px;
}

.copy{
    font-size: 16px;
    text-align: center;
    margin-top: 79px;
}

.to_top{
    width: 125px;
    bottom: 45px;
    right: 45px;
    position: fixed;
}

.sp_nav{
    display: none;
}

.sp_btn {
    display: none;
}

@media screen and (max-width:1100px) {
    .pc_nav{
        display: none;
    }
    .sp_btn{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        height: 33px;
        z-index: 999;
    }
    .sp_btn span{
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }
    .sp_btn span::before,.sp_btn span::after{
        content: '';
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before{
        bottom: 10px;
    }

    .sp_btn span::after{
        top: 10px;
    }

    .open span{
        background: transparent;

    }

    .open span::before{
        bottom: 0px;
        transform: rotate(45deg);
    }

    .open span::after{
        top: 0px;
        transform: rotate(135deg);
    }
    
    .sp_nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.8);
    }

    .sp_nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .sp_nav ul li{
        text-align: center;
        color: #fff;
        font-size: 18px;
        padding: 15px 0;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }
/* メイン */
    .japanese{
        font-size: 70px;
    }
    .massage{
        font-size: 20px;
    }

/* ABOUT US */
    .about_us_maintext{
        font-size: 36px;
    }
}


@media screen and (max-width:767px){

/* sp_メイン */
    .title{
        margin: 41px 0 66px;
    }

    .br_sp{
        display: block;
    }

    .english{
        font-size: 4.5vw;
        margin-bottom: 28px;
    }

    .japanese{
        font-size: 10.1vw;
        margin-bottom: 26px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .massage{
        font-size: 4.3vw;
        line-height: 1.8;
        letter-spacing: 0.1em;
    }

/* sp_ABOUT US */
    .about_us{
        display: block;
        padding: 0;
        margin-bottom: 57px;
    }

    .about_us_images{
        width: 100%;
        border-radius: 0;
        margin-bottom: 35px;
    }

    .title_pc{
        margin: 0 auto;
        margin-bottom: 17px;
        display: none;
    }

    .title_sp{
        display: block;
        width: 100%;
        width: 160px;
        margin: 0 auto;
        margin-bottom: 17px;
    }

    .about_us_maintext{
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        margin-bottom: 32px;
    }

    .about_us_subtext{
        display: block;
        margin: 0 auto;
        padding: 0 20px;
    }

/* sp_メニュー */
    .menu_wrap{
        margin-bottom: 95px;
        margin: 0 auto;
    }

    .menu_pc{
        padding-bottom: 22px;
        width: 88px;
    }

    .menu_content_wrap{
        display: block;
        margin: 0 auto;
        margin: 0 38px;
    }

    .menu_content{
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 53px;
    }

    .menu_content img{
        width: 100%;
        margin: 0 auto;
    }

    .menu_items h3 {
        font-size: 40px;
    } 

/* sp_ギャラリー */

.gallery_pc{
    margin-bottom: 35px;
    width: 142px;
}

.gallery_wrap{
    margin-bottom: 0;
}

.gallery_wrap ul{
    display: block;
}

.gallery_wrap ul li img{
    width: 100%;
}

/* sp_イベント */
.event_wrap{
    margin-bottom: 33px;
    padding: 0 18px;
}

.event_pc{
    padding:21px 0;
    width: 101px;
    margin-bottom: 0;
}

.event_content{
    border: 3px solid #4f260b;
}

.event_content ul{
    font-size: 16px;
    line-height: 3.8;
    text-align: left;
}

.event_content li{
    display: block;
}

.date{
    padding: 0;
}

/* sp_アクセス */

.access_pc{
    width: 124px;
    margin-bottom: 10px;
}

.access_wrap iframe{
    width: 100%;
    height: 191px;
}

/* sp_フッター */

footer{
    padding: 47px 50px 31px 23px;
}

.footer_wrap div{
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 0 10px;
}

.footer_wrap img{
    width: 226px;
    margin-bottom: 34px;
}

.footer_wrap ul{
    font-size: 18px;
    line-height: 1.7;

}

.footer_wrap li{
    margin-bottom: 15px;
}

.copy{
    margin-top: 45px;
}

.to_top{
    width: 100px;
}



}